#list {
  position: relative;
  overflow-y: scroll;
  border: 2px solid blue;
  width: 100%;
  max-width: 800px;
  height: 100vh;
}

#listItemLoad {
  position: absolute;
  top: 0;
  height: 400px;
  border: 1ps solid black;
  background-color: #ccc;
}

.item {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid gray;
  margin: 10px;
}
