body {
  box-sizing: border-box;
  margin: 0 auto;
}
input:focus {
  border: 2px solid blue;
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  background-color: rgb(231, 228, 228);
  align-items: center;
  max-width: 600px;
  margin-left: 350px;
  margin-top: 200px;
}
input {
  height: 35px;
  margin-top: 15px;
}
.forgot {
  align-self: flex-end;
}
.checkboxRemember {
  align-self: flex-start;
  height: 35px;
}
h2 {
  margin-top: 40px;
  margin-right: 89px;
}
.photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 30px;
  /*border-radius: 50%;*/
  height: 100px;
  width: 100px;
  margin-top: -50px;
}

.photo > img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  position: relative;
}

.textend {
  display: flex;
  justify-content: flex-end;
  /*margin-right: 280px;*/
}
