* {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  margin: 0;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  padding: 50px;
}

.slide {
  flex: 1;
  position: relative;
  height: 80vh;
  margin: 10px;
  border-radius: 15px;
  color: black;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 600ms ease-in-out;
}

.slide.active {
  flex: 10;
}

.slide p {
  position: absolute;
  font-size: 20px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0.5;
  color: white;
  font-weight: bold;
}

.slide.active p {
  opacity: 1;
  font-weight: bold;
  /*font-size: 30px;*/
  transition: opacity 0.3s ease-in 0.4s;
}
